@media screen and (max-height:800px) and (max-width:500px)  {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
body {
  background-image: radial-gradient(circle at 120.71% 50%, #ff9ad1 0, #ff91cc 25%, #ff88c5 50%, #e77fbd 75%, #d077b5 100%);
  width: 100vw;
    /* overflow: hidden; */
  }
h1  {
    color: white;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    font-size: 1rem;
}
 .roulette_area {
   height: 13rem;
   transform: translateY(-17px);
   width: 97vw;
  }
.roulette {
  width: 100%;
  height: 100%;
}
.container .roulette_area .roulette:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
   }
  .container .roulette_area .roulette li .wrapper {
    top: 0;
    left: 0;
  } 
  .container .roulette_area .roulette li .wrapper div {
    color: #ddd;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    text-align: center;
    font-size: 120px;
    padding: 20% 18%;
    font-weight: bolder;
    padding-right: 10px;
  }
  .container .roulette_area .roulette li .wrapper:first- {
    transform: translateX(-10px);
  }


.roulette_area {
  margin-top: 2rem;
}
   ol, ul {
    list-style: none;
  }
  .btn_start  {
    transform: translateY(-10px);
    display: block;
    border-top: 5px solid white;
    cursor: pointer;
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    width: 100vw;
    background-image: radial-gradient(circle at 50% 45.08%, #81088e 0, #81088e 50%, #81088e 100%);
  } 
  .btn_start a  {
    padding: 0;
  }
  a{
    width: 100%;
    
    padding: 0 150px 0 150px;
  }

  .roulette{
    display: flex;
    justify-content: center;
  }
  /* .board_area ul  {
    width: 100vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: repeat(5,100px);
  } */
  .board_area {
    display: block;
    width: 100%;
    margin: 2rem auto;
  }
  .board_area ul  {
    display:grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(5,60px); 
  
}
.board_area ul li  {
  width: 100%;
   display: grid;
   text-align: center;
   grid-template-rows: 50px;
  grid-auto-flow: row; 
  grid-template-columns: repeat(16,6.25%);
}
.board_area ul li p {
  margin-top: 2px;
  padding-top: 20px;
  background: rgb(251, 211, 255);
  color: rgb(0, 0, 0);
  font-size: 1rem;
}
.board_area ul li p:first-child {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.2rem;
  padding-top: 10px;
  margin-top: 0;
  
  border: 4px solid rgb(22, 0, 19)   ;
}
.head{
  background-color: #3423a9;
}
/* .board_area ul li:first-child  {
grid-column: 2/3;
} */
  /* line 30, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q, blockquote {
    quotes: none;
  }
  /* line 103, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  /* line 32, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  a img {
    border: none;
  }
  .container .roulette_area .roulette li {
    position: relative;
    width: 178px;
    height: 180px;
    border: none;
    margin-left: 10px;
    overflow: hidden;
    background-image: radial-gradient(circle at 50% 45.08%, #5e0b88 0, #5e0b88 50%, #5e0b88 100%);
    border-radius: 5px;
  }
  /* line 116, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }
  
  /* line 11, ../sass/style.scss */
 
  
  /* line 19, ../sass/style.scss */
  #header {
    width: 100%;
    height: 50px;
    background-color: white;
  }
  /* line 25, ../sass/style.scss */
  #header h1 {
    text-align: center;
    color: #000000;
    padding-top: 2%;
    font-size: 1.8rem;
    font-family: 'Akaya Telivigala', cursive;
  }
  
  /* line 35, ../sass/style.scss */
  .btn_reset {
    color: rgb(255, 255, 255);
    border-top: 5px solid white;  
    cursor: pointer;
    padding:  10px 50px 10px 50px;
    font-size: 1rem;
    text-align: center;
    width: 50vw;
    transform: translateY(-20px);
    transition: background 1s;
  }
  .btn_reset:hover    {
      background-color: white;
      color: black;
  }
  /* line 136, ../sass/style.scss */

  /* line 146, ../sass/style.scss */
  .container .board_area ul li .selected {
    background-image: radial-gradient(circle at 50% -20.71%, #ff0051 0, #ff0051 50%, #ff0051 100%);
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
  }
}
@media(max-height:800px) and (min-width:500px)
{
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
body {
  background-image: radial-gradient(circle at 120.71% 50%, #ff9ad1 0, #ff91cc 25%, #ff88c5 50%, #e77fbd 75%, #d077b5 100%);
  width: 100%;
    /* overflow: hidden; */
  }
h1  {
  color: white;
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
  font-size: 2rem;
  -webkit-color: white;
  -webkit-font-family: 'Akaya Telivigala', cursive;
  -webkit-text-align: center;
  -webkit-font-size: 2rem;
}
 .roulette_area {
   height: 13rem;
   transform: translateY(-17px);
  }
.roulette {
  width: 100%;
  height: 100%;
}
.container .roulette_area .roulette:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  -webkit-content: "\0020";
  -webkit-display: block;
  -webkit-height: 0;
  -webkit-clear: both;
  -webkit-overflow: hidden;
  -webkit-visibility: hidden;
   }
  .container .roulette_area .roulette li .wrapper {
    top: 0;
    left: 0;
  } 
  .container .roulette_area .roulette li .wrapper div {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 180px;
    text-align: center;
    font-size: 150px;
    padding: 20px 0;
    line-height: 100%;
    font-weight: bolder;
    -webkit-position: absolute;
    -webkit-color: rgb(255, 255, 255);
    -webkit-width: 180px;
    -webkit-text-align: center;
    -webkit-font-size: 150px;
    -webkit-padding: 20px 0;
    -webkit-line-height: 100%;
    -webkit-font-weight: bolder;
  }

.roulette_area {
  margin-top: 2rem;
}
   ol, ul {
    list-style: none;
  }
  .btn_start  {
    transform: translateY(-10px);
    display: block;
    border-top: 5px solid white;
    cursor: pointer;
    color: white;
    margin: 0 auto;
    padding: 5px 50px;
    text-align: center;
    font-size: 1.4rem;
    width: 40vw;
    transition-timing-function: linear;
    transition: padding 1s;
    background-image: radial-gradient(circle at 50% 45.08%, #81088e 0, #81088e 50%, #81088e 100%);  
    
    -webkit-transform: translateY(-10px);
    -webkit-display: block;
    -webkit-border-top: 5px solid white;
    -webkit-cursor: pointer;
    -webkit-color: white;
    -webkit-margin: 0 auto;
    -webkit-padding: 5px 50px;
    -webkit-text-align: center;
    -webkit-font-size: 1.4rem;
    -webkit-width: 40vw;
    -webkit-transition-timing-function: linear;
    -webkit-transition: padding 1s;
    -webkit-background-image: radial-gradient(circle at 50% 45.08%, #81088e 0, #81088e 50%, #81088e 100%);
  
  }
  .btn_start:hover  {
    padding: 5px 100px ;
    background-image: radial-gradient(circle at -4.17% 95.45%, #ff26f6 0, #ef29ef 16.67%, #cb2ae4 33.33%, #a629d6 50%, #8127c6 66.67%, #5c25b7 83.33%, #3423a9 100%);
    -webkit-padding: 5px 100px ;
    -webkit-background-image: radial-gradient(circle at -4.17% 95.45%, #ff26f6 0, #ef29ef 16.67%, #cb2ae4 33.33%, #a629d6 50%, #8127c6 66.67%, #5c25b7 83.33%, #3423a9 100%);
  }  
  a{
    width: 100%;
    
    padding: 0 150px 0 150px;
  }

  .roulette{
    display: flex;
    justify-content: center;
  }
  /* .board_area ul  {
    width: 100vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: repeat(5,100px);
  } */
  .board_area {
    display: block;
    width: 50%;
    margin: 2rem auto;
    -webkit-display: block;
    -webkit-width: 50%;
    -webkit-margin: 2rem auto;
  }
  .board_area ul  {
    display:grid;
    margin-left: 1rem;
    grid-auto-flow: row;
    grid-template-rows: repeat(5,60px); 
    -webkit-display:grid;
    -webkit-margin-left: 1rem;
    -webkit-grid-auto-flow: row;
    -webkit-grid-template-rows: repeat(5,60px); 
  
}
.board_area ul li  {
  width: 100%;
   display: grid;
   text-align: center;
   grid-template-rows: 50px;
  grid-auto-flow: row; 
  grid-template-columns: repeat(16,40px);
  -webkit-width: 100%;
   -webkit-display: grid;
   -webkit-text-align: center;
   -webkit-grid-template-rows: 50px;
  -webkit-grid-auto-flow: row; 
  -webkit-grid-template-columns: repeat(16,40px);
}
.board_area ul li p {
  padding-top: 15px;
  margin-top: 2px;
  font-weight: bolder;
  background: rgb(251, 211, 255);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  -webkit-padding-top: 15px;
  -webkit-margin-top: 2px;
  -webkit-font-weight: bolder;
  -webkit-background: rgb(251, 211, 255);
  -webkit-color: rgb(0, 0, 0);
  -webkit-font-size: 1.3rem;
}
.board_area ul li p:first-child {
  color: black;
  font-weight: bolder;
  font-size: 1.6rem;
  padding-top: 10px;
  margin-top: 0;
  border: 4px solid rgb(22, 0, 19)   ;
  
  -webkit-color: black;
  -webkit-font-weight: bolder;
  -webkit-font-size: 1.6rem;
  -webkit-padding-top: 10px;
  -webkit-margin-top: 0;
  -webkit-border: 4px solid rgb(22, 0, 19)   ;
}
.head{
  background-color: #3423a9;
}
/* .board_area ul li:first-child  {
grid-column: 2/3;
} */
  /* line 30, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q, blockquote {
    quotes: none;
  }
  /* line 103, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  /* line 32, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  a img {
    border: none;
  }
  .container .roulette_area .roulette li {
    position: relative;
    width: 178px;
    height: 180px;
    border: none;
    margin-left: 10px;
    overflow: hidden;
    background-image: radial-gradient(circle at 50% 45.08%, #5e0b88 0, #5e0b88 50%, #5e0b88 100%);
    border-radius: 5px;
    -webkit-position: relative;
    -webkit-width: 178px;
    -webkit-height: 180px;
    -webkit-border: none;
    -webkit-margin-left: 10px;
    -webkit-overflow: hidden;
    -webkit-background-image: radial-gradient(circle at 50% 45.08%, #5e0b88 0, #5e0b88 50%, #5e0b88 100%);
    -webkit-border-radius: 5px;
  }
  /* line 116, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }
  
  /* line 11, ../sass/style.scss */
 
  
  /* line 19, ../sass/style.scss */
  #header {
    width: 100%;
    height: 50px;
    background-color: white;
  }
  /* line 25, ../sass/style.scss */
  #header h1 {
    text-align: center;
    color: #000000;
    font-size: 2.2rem;
    font-family: 'Akaya Telivigala', cursive;
  }
  
  /* line 35, ../sass/style.scss */
  .btn_reset {
    color: rgb(255, 255, 255);
    border-top: 5px solid white;  
    cursor: pointer;
    padding:  10px 50px 10px 50px;
    font-size: 1rem;
    text-align: center;
    width: 50vw;
    transform: translateY(-20px);
    transition: background 1s;
    -webkit-color: rgb(255, 255, 255);
    -webkit-border-top: 5px solid white;  
    -webkit-cursor: pointer;
    -webkit-padding:  10px 50px 10px 50px;
    -webkit-font-size: 1rem;
    -webkit-text-align: center;
    -webkit-width: 50vw;
    -webkit-transform: translateY(-20px);
    -webkit-transition: background 1s;
  }
  .btn_reset:hover    {
      background-color: white;
      color: black;
  }
  /* line 136, ../sass/style.scss */

  /* line 146, ../sass/style.scss */
  .container .board_area ul li .selected {
    background-image: radial-gradient(circle at 50% -20.71%, #ff0051 0, #ff0051 50%, #ff0051 100%);
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    
    -webkit-background-image: radial-gradient(circle at 50% -20.71%, #ff0051 0, #ff0051 50%, #ff0051 100%);
    -webkit-color: white;
    -webkit-padding-top: 10px;
    -webkit-font-weight: bold;
    -webkit-font-size: 1.8rem;
  }
}
@media (min-height:700px)  {
    
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
body {
  background-image: radial-gradient(circle at 50% 45.08%, #ff4dde 0, #ff4dde 50%, #ff4dde 100%);    /* overflow: hidden; */
  }
h1  {
    color: white;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    font-size: 2rem;
}
 .roulette_area {
   height: 13rem;
   transform: translateY(-17px);
  }
.roulette {
  width: 100%;
  height: 100%;
  color: white;
}
.container .roulette_area .roulette:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-content: "\0020";
  -webkit-display: block;
  -webkit-height: 0;
  -webkit-overflow: hidden;
  -webkit-visibility: hidden;
   }
  .container .roulette_area .roulette li .wrapper {
    top: 0;
    left: 0;
  } 
  .container .roulette_area .roulette li .wrapper div {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 180px;
    text-align: center;
    font-size: 150px;
    padding: 15px 0;
    font-weight: bold;
    -webkit-position: absolute;
    -webkit-color: rgb(255, 255, 255);
    -webkit-width: 180px;
    -webkit-text-align: center;
    -webkit-font-size: 150px;
    -webkit-padding: 15px 0;
    -webkit-font-weight: bold;
  }

.roulette_area {
  margin-top: 2rem;
}
   ol, ul {
    list-style: none;
  }
  .btn_start  {
    transform: translateY(40px);
    display: block;
    border-top: 5px solid white;
    cursor: pointer;
    color: white;
    margin: 0 auto;
    padding: 5px 50px;
    text-align: center;
    font-size: 1.4rem;
    width: 40vw;
    transition-timing-function: linear;
    transition: padding 1s;
    background-image: radial-gradient(circle at 50% 45.08%, #81088e 0, #81088e 50%, #81088e 100%);
    -webkit-transform: translateY(40px);
    -webkit-display: block;
    -webkit-border-top: 5px solid white;
    -webkit-cursor: pointer;
    -webkit-color: white;
    -webkit-margin: 0 auto;
    -webkit-padding: 5px 50px;
    -webkit-text-align: center;
    -webkit-font-size: 1.4rem;
    -webkit-width: 40vw;
    -webkit-transition-timing-function: linear;
    -webkit-transition: padding 1s;
    -webkit-background-image: radial-gradient(circle at 50% 45.08%, #81088e 0, #81088e 50%, #81088e 100%);
 }
  .btn_start:hover  {
    padding: 5px 100px ;
    background-image: radial-gradient(circle at -4.17% 95.45%, #ff26f6 0, #ef29ef 16.67%, #cb2ae4 33.33%, #a629d6 50%, #8127c6 66.67%, #5c25b7 83.33%, #3423a9 100%);
  }  
  a{
    width: 100%;
    
    padding: 0 150px 0 150px;
  }

  /* .board_area ul  {
    width: 100vw;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: repeat(5,100px);
  } */
  .roulette{
    display: flex;
    justify-content: center;
    transform: translateY(30px);
    -webkit-display: flex;
    -webkit-justify-content: center;
    -webkit-transform: translateY(30px);
  }
  .board_area {
    display: block;
    width: 70%;
    margin: 5rem auto;
    -webkit-display: block;
    -webkit-width: 70%;
    -webkit-margin: 5rem auto;
  }
  .board_area ul  {
    display:grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(5,60px); 
    -webkit-display:grid;
    -webkit-grid-auto-flow: row;
    -webkit-grid-template-rows: repeat(5,60px); 
  
}
.board_area ul li  {
  width: 100%;
   display: grid;
   text-align: center;
   grid-template-rows: 50px;
  grid-auto-flow: row; 
  grid-template-columns: repeat(16,60px);
  -webkit-width: 100%;
   -webkit-display: grid;
   -webkit-text-align: center;
   -webkit-grid-template-rows: 50px;
  -webkit-grid-auto-flow: row; 
  -webkit-grid-template-columns: repeat(16,60px);

}
.board_area ul li p {
  padding-top: 15px;
  margin-top: 2px;
  background: rgb(251, 211, 255);
  color: rgb(7, 7, 7);
  font-weight: bolder;
  font-size: 1.3rem;
  -webkit-padding-top: 15px;
  -webkit-margin-top: 2px;
  -webkit-background: rgb(251, 211, 255);
  -webkit-color: rgb(7, 7, 7);
  -webkit-font-weight: bolder;
  -webkit-font-size: 1.3rem;
}
.board_area ul li p:first-child {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.6rem;
  padding-top: 10px;
  margin-top: 0;
  border: 4px solid rgb(22, 0, 19)   ;
  -webkit-color: rgb(0, 0, 0);
  -webkit-font-weight: bolder;
  -webkit-font-size: 1.6rem;
  -webkit-padding-top: 10px;
  -webkit-margin-top: 0;
  -webkit-border: 4px solid rgb(22, 0, 19)   ;
}
.head{
  background-color: #3423a9;
}
/* .board_area ul li:first-child  {
grid-column: 2/3;
} */
  /* line 30, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q, blockquote {
    quotes: none;
  }
  /* line 103, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  /* line 32, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  a img {
    border: none;
  }
  .container .roulette_area .roulette li {
    position: relative;
    width: 178px;
    height: 180px;
    border: none;
    margin-left: 10px;
    overflow: hidden;
    background-image: radial-gradient(circle at 50% 45.08%, #5e0b88 0, #5e0b88 50%, #5e0b88 100%);
     border-radius: 5px;
     -webkit-position: relative;
    -webkit-width: 178px;
    -webkit-height: 180px;
    -webkit-border: none;
    -webkit-margin-left: 10px;
    -webkit-overflow: hidden;
    -webkit-background-image: radial-gradient(circle at 50% 45.08%, #5e0b88 0, #5e0b88 50%, #5e0b88 100%);
     -webkit-border-radius: 5px;
  }
  /* line 116, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }
  
  /* line 11, ../sass/style.scss */
 
  
  /* line 19, ../sass/style.scss */
  #header {
    width: 100%;
    height: 70px;
    background-color: white;
    -webkit-width: 100%;
    -webkit-height: 70px;
    -webkit-background-color: white;
  }
  /* line 25, ../sass/style.scss */
  #header h1 {
    text-align: center;
    color: #000000;
    transform: translateY(5px);
    font-size: 3rem;
    font-family: 'Akaya Telivigala', cursive;
    -webkit-text-align: center;
    -webkit-color: #000000;
    -webkit-transform: translateY(5px);
    -webkit-font-size: 3rem;
    -webkit-font-family: 'Akaya Telivigala', cursive;
  }
  
  /* line 35, ../sass/style.scss */
  .btn_reset {
    color: rgb(255, 255, 255);
    border-top: 5px solid white;  
    cursor: pointer;
    padding:  10px 50px 10px 50px;
    font-size: 1rem;
    text-align: center;
    width: 50vw;
    transform: translateY(-60px);
    transition: background 1s;
    -webkit-color: rgb(255, 255, 255);
    -webkit-border-top: 5px solid white;  
    -webkit-cursor: pointer;
    -webkit-padding:  10px 50px 10px 50px;
    -webkit-font-size: 1rem;
    -webkit-text-align: center;
    -webkit-width: 50vw;
    -webkit-transform: translateY(-60px);
    -webkit-transition: background 1s;
  }
  .btn_reset:hover    {
      background-color: white;
      color: black;
  }
  /* line 136, ../sass/style.scss */

  /* line 146, ../sass/style.scss */
  .container .board_area ul li .selected {
    color: white;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.8rem;
    -webkit-color: white;
    -webkit-padding-top: 10px;
    -webkit-font-weight: bold;
    -webkit-font-size: 1.8rem;
    -ms-color: white;
    -ms-padding-top: 10px;
    -ms-font-weight: bold;
    -ms-font-size: 1.8rem;
  }
  }